/* The Box Model consists of:

1. Content - the text of an element

2. Padding - the space between the content and the border

3. Border - the edge around the element

4. Margin - the space around the border of the element

The box model only applies to BLOCK elements

*/


/* This property & value will make sure to build any padding & border into the overall height and width of your element */
* {
    box-sizing: border-box;
    margin: 0;
}



.one {
    width: 100px;
    height: 100px;
    background-color: cyan;
    text-align: center;


    /* 1 value for border will apply to ALL 4 sides of the element */
    border: 5px solid black;
    /* border-left: 20px solid purple; */

    
    /* 4 values for padding starts from the TOP, RIGHT, BOTTOM, LEFT */
    /* padding: 10px 5px 8px 5px; */

    /* 2 values represent the top/bottom & left/right */
    /* padding: 20px 10px; */
    
    /* 1 value will represent ALL four sides of the element */
    padding: 20px;


    /* Select a specific side of the element by writing padding- plus the side that you want to select */
    padding-left: 25px;


    /* margin-bottom: 100px; */
}

.two {
    border: 5px solid red;
    text-align: center;
    height: 100px;
    width: 100px; 


    /* margin: 40px 0 0 40px; */
    /* margin-top: 40px; 
    margin-left: 40px; */


    /* 2 values for margin will hit top/bottom & left/right */
    /* 1st value hits top/bottom, 2nd value hit left/right*/
    /* margin: 0 auto; */
}


/* #sub-two {
    background-color: wheat;
    width: 100px;
    height: 100px;
    margin: auto;

} */

/* Block elements take up the entire width of their element unless we change the width property */

/* Inline elements DO NOT inherit the box model. Padding, margin, only apply to the left and right. NOT to the top and bottom. */

/* The inline-block property will cause an element to respect the box-model for any inline elements, which will apply padding, border, and margin -- as to not overlap another element */

/* display: none; -- will remove the element from the page */


/* span {
    border: 2px solid red;
    padding: 10px; 
    margin: 10px;
    /* display: none; */
/* } */ 


/* p {
    padding: 10px;
    border: 2px solid blue;
    line-height: 3rem;
} */


#container {
    height: 500px;
    background-color: purple;

    /* display: flex -- will put block elements in a row */
    display: flex;
    /* justify-content: center -- will center elements horizontally */
    /* justify-content: center; */

    /* align-items: center --  will center elements vertically */
    align-items: center;


    justify-content: space-evenly;
}












